.main_box{
    background-color: black;
    padding: 4rem 1rem;
}
.heading1{
    color: rgb(234, 36, 115);
}
.heading2{
    color: white;
    padding-top: 10px;
}
.img{
    border-radius: 15px;
    width: 330px;
}
.y_head{
    color: #ffba0e;
    margin-top: 15px;
}
.para{
    color: white;
    font-size: 17px;
    margin-top: 35px;
}
.grid_box{
    margin-top: 2rem;
}
.story_box{
    background-color: teal;
    padding: 2rem;
    width: 50%;
}
.text{
    color: white;
    font-size: 20px;
    margin-top: 1.5rem;
}