.main_box{
    background-color: black;
    padding: 4rem 1rem;
}
.heading1{
    color: rgb(234, 36, 115);
}
.heading2{
    color: white;
    padding-top: 10px;
}
.img{
    border-radius: 15px;
    width: 330px;
}
.y_head{
    color: #ffba0e;
    margin-top: 15px;
}
.para{
    color: white;
    font-size: 17px;
    margin-top: 35px;
}
.grid_box{
    margin-top: 2rem;
}
.story_box{
    background-color: teal;
    padding: 5rem;
    width: 40%;

}
.text{
    color: white;
    font-size: 20px;
    margin-top: 1.5rem;
}
.story_main_box{
    display: flex;
    height: 500px;
    margin-top: 5rem;
}
.image_box{
    background-image: url("https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/targeted_section/targeted-parsys-customer-types-1/generic_block/parsys/columns/column-parsys-1/generic_block/image-res.img.eda54712-d00b-4274-9506-7e06a0a9c4c1.png");
    background-repeat: no-repeat;
    width: 60%;
    padding:6rem 18rem 6rem 2rem;
    color: black;
    background-position: center ;
    background-size: cover;
    height: 100%;
}