.main_box{
    padding:5rem 1rem;
    background-color: rgb(25, 25, 25);
}
.heading1{
    color: rgb(234, 36, 115);
}
.heading2{
    color: white;
    padding-top: 10px;
}
.feature_flex{
    margin-top: 3rem;
    color: white;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
}
.feature_box{
    padding: 1.5rem;
    width:"70%"
}
.feature_mini_box{
    color: white;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    padding: 2rem;
    height: 520px;
}
.grid{
    gap:2rem;
    margin-top: 3rem;
}
